.card{
box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 2.0);
background-color: white;
border-radius: 15px;
width: 400px;
border: 2px solid rgba(2, 1, 1, 0.8);
}
#photo{
    padding-left: 30px;
    padding-top: 15px;
    border-radius: 10% 10% 10% 1%; 
}
.container{
    padding: 2px 16px;
}
#Learning{
    color: black;
    background-color: #F4D04E;
    width: fit-content;
    padding: 8px 12px;
    border-radius: 5px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.attribution {
     font-size: 11px; text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #F4D04E;
    margin: 0; 
    background-color: #F4D04E;
    flex-direction: column;
}
h2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
h2:hover{
    color: #F4D04E;
}
.greg{
    gap: 10px;
    display: flex;
    align-items: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}